.container {
  margin: 20px;
}

.title {
  margin-bottom: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
}

.grid-item {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.grid-item:hover {
  transform: scale(1.05);
}

.room-content {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.create-btn {
  margin-top: 20px;
  float: right;
}
