<div class="container">
  <h2 class="title">채팅방 로비</h2>
  <div class="grid-container">
    <div
      class="grid-item"
      *ngFor="let room of chat_rooms; let i = index"
      (click)="enterRoom(room.id, room.title)"
    >
      <div class="room-content">
        {{ room.title }}
      </div>
      <div class="room-master">
        {{ room.master }}
      </div>
    </div>
  </div>
  <button class="btn btn-primary create-btn" mat-button (click)="openDialog()">
    새 채팅방 만들기
  </button>
  <button class="btn btn-primary logout-btn" (click)="logout()">
    로그아웃
  </button>
</div>
