.chat-container {
  width: 600px;
  height: 1000px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: ivory;
}

.room-title {
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.room-title p {
  margin: 0;
  font-weight: bold;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.message-wrap {
  display: flex;
  max-width: 70%;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.message {
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 5px;
  flex-direction: column;
}

.sender {
  display: inline;
  font-weight: bold;
  margin-bottom: 5px;
}

.message.left {
  justify-content: flex-start;
  background-color: #ffffff;
  border: 1px solid black;
}

.message.right {
  justify-content: flex-end;
  background-color: #ffffff;
  border: 1px solid black;
}

.input-container {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
}

.message-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  resize: none;
}

.send-button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #f7e600;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: rgb(101, 160, 69);
}

.right-wrap {
  display: flex;
  justify-content: flex-end;
}

.left-wrap {
  display: flex;
  justify-content: flex-start;
}

.message-box {
  width: 100%;
}
